.container-fluid .row #map {
  height: 400px;
}

.footer {
    position: absolute;
    bottom: 0;
}

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

#autko{
	position: relative;
}

img{
	margin : auto;
	position: absolute;
}
